*{
    width: 100%;
    height: auto;
}
body{
    margin-top: 50px;
    padding: 0;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
}
.container{
    border:1px solid red;
    height:800px;
    width: 1000px;
    display:flex;
}
